SAGRES/TCE - XSDs/Sagres2019/XSDSagresContabil2019/LancamentosContabeis.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	 targetNamespace="http://www.tce.pi.gov.br/sagres2019/xml/LancamentosContabeis" version="1.0" xml:lang="pt-BR"
	 xmlns:gen="http://www.tce.pi.gov.br/sagres2019/xml/genericos"
	 xmlns:tab="http://www.tce.pi.gov.br/sagres2019/xml/tabelasInternas"
	 xmlns:lan="http://www.tce.pi.gov.br/sagres2019/xml/LancamentosContabeis"
	 xmlns:cc ="http://www.tce.pi.gov.br/sagres2019/xml/contasCorrentes"
	 xmlns:aux="http://www.tce.pi.gov.br/sagres2019/xml/cadastrosAuxiliares"
	 xmlns:xs= "http://www.w3.org/2001/XMLSchema">

	 <xs:import namespace = "http://www.tce.pi.gov.br/sagres2019/xml/genericos"           schemaLocation="genericos.xsd"/>
	 <xs:import namespace = "http://www.tce.pi.gov.br/sagres2019/xml/tabelasInternas"     schemaLocation="tabelasInternas.xsd"/>
	 <xs:import namespace = "http://www.tce.pi.gov.br/sagres2019/xml/contasCorrentes"     schemaLocation="ContasCorrentes.xsd"/>
	 <xs:import namespace = "http://www.tce.pi.gov.br/sagres2019/xml/cadastrosAuxiliares" schemaLocation="CadastrosAuxiliares.xsd"/>

	 <!-- Namespaces: Conteudo: Descricao: Arquivos de cadastros gerais -->
	 <xs:annotation>
		<xs:documentation>
			<Data>Tue Jan 08 10:52:40 GFT 2019 </Data>
			<Descricao>Descricao: Arquivos de cadastros gerais </Descricao>
			<Justificativa>Justificativa: Criaçâo do modelo inicial para @)!$</Justificativa>
			<Versao>1.0</Versao>
			</xs:documentation>
	</xs:annotation>

	 <!-- ============================================================================================== -->
	 <!--LANÇAMENTO CONTÁBIL(1) -->
	 <xs:complexType name="LancamentoContabil_t">
		 <xs:sequence>
			 <xs:element nillable="false" name="numeroRegiOuLancamento" type="gen:numero_t"/>
			 <xs:element nillable="false" name="dataRegiOuLancamento" type="gen:dataExerAtual_t"/>
			 <xs:element nillable="false" name="tipoLancContabil" type="tab:tipoLancContabil_t"/>
			 <xs:element nillable="false" name="tipoMoviContabil" type="tab:tipoMoviContabil_t"/>
			 <xs:element nillable="false" name="historicoRegiContabil" type="gen:historico_t"/>
			 <xs:element nillable="false" name="codigoUnidOrcamentaria" type="gen:codigo06_t"/>
			 <xs:element maxOccurs="unbounded" minOccurs="2" name="LancamentoContabilItem" type="lan:LancamentoContabilItem_t"/>
		</xs:sequence>
	</xs:complexType>

	 <!-- ============================================================================================== -->
	 <!--ITENS DO LANÇAMENTO CONTÁBIL(2) -->
	 <xs:complexType name="LancamentoContabilItem_t">
		 <xs:sequence>
			 <xs:element nillable="false" name="tipoNatuLancamento" type="tab:tipoNatuLancamento_t"/>
			 <xs:element nillable="false" name="valorLancado" type="gen:valor_t"/>
			 <xs:element nillable="false" name="ContaCorrente" type="cc:ContaCorrente_t"/>
		</xs:sequence>
	</xs:complexType>

	 <!-- ============================================================================================== -->
	 <!-- Lancamentos contábeis -->
	 <xs:complexType name="listaLancamentosContabeis_t">
		 <xs:sequence>
			 <xs:element  maxOccurs="1"         minOccurs="1" name="PrestacaoContas" type = "aux:PrestacaoContas_t"/>
			 <xs:element  maxOccurs="unbounded" minOccurs="1" name="LancamentoContabil" type = "lan:LancamentoContabil_t"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ========================================================================= -->
	<!-- root -->
	<xs:element name="LancamentosContabeis" type="lan:listaLancamentosContabeis_t">
	<!-- Restrições de chave única -->
		 <!--LANÇAMENTO CONTÁBIL(1) -->
		 <xs:unique name="chaveLancamentoContabil" id="chaveLancamentoContabil">
			<xs:selector xpath="lan:LancamentoContabil"/>
			<xs:field xpath="lan:numeroRegiOuLancamento"/>
		</xs:unique>
	</xs:element>
</xs:schema>